/********************************Colores*************************************************/
/********************variables************/
$minaranja:#ff6600;
$primary: #41adff;
$danger: #ff0d00;
$dark:rgb(28, 27, 27);
$white:#ffffff;